.archive-title {
  font-size: 2em;
  margin-bottom: 48px;

  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.archive-case {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  height: 100%;

  @media (max-width: 576px) {
    padding: 32px;
  }

  @media (max-width: 400px) {
    padding: 8px;
  }

  &:last-child {
    margin-right: 0;
  }

  .img-preview {
    border-radius: 4px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;

    img {
      width: 100%;
      border-radius: 4px;
    }
  }

  .title {
    font-size: 1.25rem;
    margin-bottom: 8px;
    text-align: center;
  }

  .desc {
    font-size: 1rem;
    margin-bottom: 12px;
    color: #666666;
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
  }
}
