// fonts
$mono-font: "Roboto Mono", monospace;

//colors
$black-color: #050505;
$white-color: #ffffff;
$off-white-color: #bfbfbf;
$light-gray-color: #808080;
$dark-gray-color: #404040;
$green-color: #00a11a;
