.container {
  &.fs-full-width {
    max-width: none;
    width: 100%;
  }

  &.fs-p-top-24 {
    padding-top: 24px;
  }

  &.fs-p-bottom-24 {
    padding-bottom: 24px;
  }

  &.fs-p-top-40 {
    padding-top: 40px;
  }

  &.fs-p-bottom-40 {
    padding-bottom: 40px;
  }

  &.fs-p-top-48 {
    padding-top: 48px;
  }

  &.fs-p-bottom-48 {
    padding-bottom: 48px;
  }

  &.fs-p-top-56 {
    padding-top: 56px;
  }

  &.fs-p-bottom-56 {
    padding-bottom: 56px;
  }

  &.fs-p-top-96 {
    padding-top: 96px;
  }

  &.fs-p-bottom-96 {
    padding-bottom: 96px;
  }

  &.fs-p-top-120 {
    padding-top: 120px;
  }

  &.fs-p-bottom-120 {
    padding-bottom: 120px;
  }

  &.fs-p-top-200 {
    padding-top: 200px;
  }

  &.fs-p-bottom-200 {
    padding-bottom: 200px;
  }

  &.tw-p {
    @media (max-width: 992px) {
      padding-top: 100px;
    }
  }
}
